In [1]:
import pandas as pd
import numpy as np

In [2]:
df1=pd.read_csv('E:\\afitech\\Afitech PPML Datasets\\bill_authentication.csv')

In [3]:
df1.shape

(1372, 5)

In [4]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1372 entries, 0 to 1371
Data columns (total 5 columns):
Variance    1372 non-null float64
Skewness    1372 non-null float64
Curtosis    1372 non-null float64
Entropy     1372 non-null float64
Class       1372 non-null int64
dtypes: float64(4), int64(1)
memory usage: 53.7 KB

In [5]:
df1.head(7)

   Variance  Skewness  Curtosis  Entropy  Class
0   3.62160    8.6661  -2.80730 -0.44699      0
1   4.54590    8.1674  -2.45860 -1.46210      0
2   3.86600   -2.6383   1.92420  0.10645      0
3   3.45660    9.5228  -4.01120 -3.59440      0
4   0.32924   -4.4552   4.57180 -0.98880      0
5   4.36840    9.6718  -3.96060 -3.16250      0
6   3.59120    3.0129   0.72888  0.56421      0

In [6]:
X=df1.drop('Class',axis=1)
y=df1['Class']

In [7]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [8]:
from sklearn.tree import DecisionTreeClassifier
classifier=DecisionTreeClassifier(criterion='entropy')
classifier.fit(X_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [9]:
y_pred=classifier.predict(X_test)

In [10]:
from sklearn.metrics import classification_report, confusion_matrix

print(confusion_matrix(y_test,y_pred))
print(classification_report(y_test,y_pred))

[[150   4]
 [  5 116]]
              precision    recall  f1-score   support

           0       0.97      0.97      0.97       154
           1       0.97      0.96      0.96       121

    accuracy                           0.97       275
   macro avg       0.97      0.97      0.97       275
weighted avg       0.97      0.97      0.97       275

In [11]:
df2=pd.read_csv('E:\\afitech\\Afitech PPML Datasets\\petrol_consumption.csv')

In [13]:
df2.describe()

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
count,48.000000,48.000000,48.000000,48.000000,48.000000
mean,7.668333,4241.833333,5565.416667,0.570333,576.770833
std,0.950770,573.623768,3491.507166,0.055470,111.885816
min,5.000000,3063.000000,431.000000,0.451000,344.000000
25%,7.000000,3739.000000,3110.250000,0.529750,509.500000
50%,7.500000,4298.000000,4735.500000,0.564500,568.500000
75%,8.125000,4578.750000,7156.000000,0.595250,632.750000
max,10.000000,5342.000000,17782.000000,0.724000,968.000000

In [14]:
X=df2.drop('Petrol_Consumption',axis=1)
y=df2['Petrol_Consumption']

In [15]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [16]:
from sklearn.tree import DecisionTreeRegressor
regressor=DecisionTreeRegressor()
regressor.fit(X_train,y_train)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=None, splitter='best')

In [18]:
Y_pred=regressor.predict(X_test)

In [23]:
results=pd.DataFrame({'Actual':y_test, 'Predicted':Y_pred})
results

    Actual  Predicted
29     534      547.0
4      410      414.0
26     577      554.0
30     571      554.0
32     577      631.0
37     704      644.0
34     487      648.0
40     587      525.0
7      467      414.0
10     580      464.0

In [24]:
((results.Actual-results.Predicted)**2).mean()**.5

73.17718223599485

In [25]:
(np.diff(results.values)**2).mean()**.5

73.17718223599485