In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
from pylab import rcParams
import seaborn as sb

import sklearn
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import scale
from collections import Counter

In [2]:
%matplotlib inline
rcParams['figure.figsize']=5,4
sb.set_style('whitegrid')

In [3]:
filename='E:\\afitech\\Afitech PPML Datasets\\enrollment_forecast.csv'
enroll=pd.read_csv(filename)

In [4]:
enroll.head(7)

   year  roll  unem  hgrad   inc
0     1  5501   8.1   9552  1923
1     2  5945   7.0   9680  1961
2     3  6629   7.3   9731  1979
3     4  7556   7.5  11666  2030
4     5  8716   7.0  14675  2112
5     6  9369   6.4  15265  2192
6     7  9920   6.5  15484  2235

In [5]:
enroll.corr()

           year      roll      unem     hgrad       inc
year   1.000000  0.900934  0.378305  0.670300  0.944287
roll   0.900934  1.000000  0.391344  0.890294  0.949876
unem   0.378305  0.391344  1.000000  0.177376  0.282310
hgrad  0.670300  0.890294  0.177376  1.000000  0.820089
inc    0.944287  0.949876  0.282310  0.820089  1.000000

In [6]:
x=enroll.iloc[:,:4]
y=enroll.iloc[:,4]
print(x)

    year   roll  unem  hgrad
0      1   5501   8.1   9552
1      2   5945   7.0   9680
2      3   6629   7.3   9731
3      4   7556   7.5  11666
4      5   8716   7.0  14675
5      6   9369   6.4  15265
6      7   9920   6.5  15484
7      8  10167   6.4  15723
8      9  11084   6.3  16501
9     10  12504   7.7  16890
10    11  13746   8.2  17203
11    12  13656   7.5  17707
12    13  13850   7.4  18108
13    14  14145   8.2  18266
14    15  14888  10.1  19308
15    16  14991   9.2  18224
16    17  14836   7.7  18997
17    18  14478   5.7  19505
18    19  14539   6.5  19800
19    20  14395   7.5  19546
20    21  14599   7.3  19117
21    22  14969   9.2  18774
22    23  15107  10.1  17813
23    24  14831   7.5  17304
24    25  15081   8.8  16756
25    26  15127   9.1  16749
26    27  15856   8.8  16925
27    28  15938   7.8  17231
28    29  16081   7.0  16816

In [7]:
print(y)

0     1923
1     1961
2     1979
3     2030
4     2112
5     2192
6     2235
7     2351
8     2411
9     2475
10    2524
11    2674
12    2833
13    2863
14    2839
15    2898
16    3123
17    3195
18    3239
19    3129
20    3100
21    3008
22    2983
23    3069
24    3151
25    3127
26    3179
27    3207
28    3345
Name: inc, dtype: int64

In [8]:
#X,Y=scale(x),y

In [9]:
#X

In [10]:
#Y

In [11]:
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [12]:
x_train, x_test, y_train, y_test=train_test_split(x,y,test_size=0.2,random_state=357)

In [13]:
lr_mod=LinearRegression()
lr_mod.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [14]:
predictions=lr_mod.predict(x_test)
print(predictions)

[3387.02306429 3036.23448343 3325.58967471 3146.32397975 3056.68387792
 2686.70014506]

In [15]:
LR1=LinearRegression()

In [16]:
LR1.fit(x,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [17]:
LR1.score(x,y)

0.9597705664329204

In [18]:
myvals=np.array([37,13201,8.8,3874]).reshape(1,-1)
lr_mod.predict(myvals)

array([3266.20830876])

In [19]:
y_pred=lr_mod.predict(x_test)

In [20]:
results=pd.DataFrame({'Actual':y_test,'predicted':y_pred})
results

    Actual    predicted
28    3345  3387.023064
18    3239  3036.234483
27    3207  3325.589675
24    3151  3146.323980
22    2983  3056.683878
10    2524  2686.700145

In [21]:
((results.Actual-results.predicted)**2).mean()**.5

121.70032855511118

In [22]:
(np.diff(results.values)**2).mean()**.5

121.70032855511118